<!--
   Gusty Chickens
   Emily Mai, Carrie Ko, James Lei, Amy Shrestha
   SoftDev 2026
   -->

{% extends "room_template.html" %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1 class="text-center">Tier {{ room['name'] }}</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-center mb-3">Passengers</h2>
      <div class="overflow-auto" style="max-height: 80vh;">
        <ul class="list-group">
          {% for passenger in passengers %}
          <li class="list-group-item passenger" id="passenger-{{ loop.index }}">{{ passenger["name"] }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <script>
      let chartLabels
      let chartValues
      let ctx
    </script>
    <div class="col-md-6">
      <h2 class="text-center mb-3">Statistics</h2>
      {% for passenger in passengers %}
      <div id="info-{{ loop.index }}" style="display: none;">
        <div class="card">
          <div class="card-header">
            Survival Odds
          </div>
          <div class="card-body">
            <canvas id="chart-{{ loop.index }}"></canvas>
            <script>
              chartLabels = {{ passenger["labels"] | tojson }};
              chartValues = {{ passenger["values"] | tojson }};

              ctx = document.getElementById('chart-{{ loop.index }}');

              new Chart(ctx, {
                  type: 'bar',
                  data: {
                      labels: chartLabels,
                      datasets: [{
                          label: 'percentage',
                          data: chartValues,
                      }]
                  },
                  options: {
                      indexAxis: 'y',
                      backgroundColor: chartValues.map(v => v >= 0 ? '#4CAF50' : '#FF5252'),
                      scales: {
                          x: {
                              beginAtZero: true,
                              max: 1,
                              min: -1
                          }
                      }
                  }
              });
            </script>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header">
            Actions
          </div>
          <div class="card-body">
            <form class="row row-cols-lg-auto align-items-center" action="/game/move-person" method="post">
              <input type="hidden" name="passengerId" value="{{ passenger['id'] }}">
              <div class="col-12">
                Choose a room to move to:
              </div>
              <div class="col-12">
                <select class="form-select" id="room">
                  {% for room in ["A", "B", "C", "D", "E", "F", "G"] %}
                    {% if room == passenger["room"] %}
                    <option value="{{ room }}" selected disabled>{{ room }}</option>
                    {% else %}
                    <option value="{{ room }}">{{ room }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-primary">Move</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  let highPassenger = document.getElementById("passenger-1");
  highPassenger.classList.add("list-group-item-info");
  let highInfo = document.getElementById("info-1");
  highInfo.style.display = "block";

  function select(ele) {
    ele.classList.add("list-group-item-info");
    highPassenger.classList.remove("list-group-item-info");
    highPassenger = ele;
    highInfo.style.display = "none";
    highInfo = document.getElementById(`info-${ele.getAttribute("index")}`);
    highInfo.style.display = "block";
  }

  let passengers = document.getElementsByClassName("passenger");
  for (let i = 0; i < passengers.length; i++) {
    let ele = passengers[i];
    ele.addEventListener('click', (event) => {
      select(event.target);
    })
    ele.setAttribute("index", i + 1);
  }

</script>
{% endblock %}
{% block js %}
{% endblock %}
