.flashes {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 8px;
  border-radius: 10px;
  z-index: 1000000;
}

.flashes p {
  padding: 10px;
  border-radius: 10px;
}

.error {
  background-color: #ce1b1b;
}

.info {
  background-color: #1e90ff;
}

.success {
  background-color: #6dc477;
}
