.flashes {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 8px;
  border-radius: 10%;
  z-index: 1000000;
}

.error {
  background-color: #ce1b1b;
}

.info {
  background-color: #54b25f;
}

.success {
  background-color: #6dc477;
}