.center{
         text-align: center;
         padding-top: 20vh;
         padding-bottom: 0vh;
         font-size: 700%;
}
.center2{
         text-align: center;
         font-size: 400%;
         padding-top: 0vh;
}
h1{
	 font-size: 600%;
}
.button{
         border: none;
font-family: "Syne Mono", monospace;
         background: none;
         font-size: 50%;
         color: white;
}
button:hover{
         cursor: pointer;
}
#blink {
         transition: 0.2s;
}
a:link {
         color: #363132;
}
	    body{
            color: white;
            background-color: black;
         	font-family: "Syne Mono", monospace;
         	background-repeat: no-repeat;
         	background-size: 100vw 100vh;
            }
            .hold{
         	margin-top: 5vh;
         	text-align: center;
         	margin-left: 10vw;
         	margin-right: 10vw;
         	padding-top: 10vh;
         	color: white;
            }
            .a{
         	color: black;
         	font-family: "Syne Mono", monospace;
            font-size: 100%;
            padding-top: 0.5vh;
         	padding-bottom: 0.5vh;
         	padding-left: 1vw;
         	padding-right: 1vw;
            }
            .b{
         	padding-top: 0.75vh;
         	padding-bottom: 0.75vh;
         	padding-left: 1.25vw;
         	padding-right: 1.25vw;
         	background-color: white;
         	border: none;
         	border-radius: 6px;
         	color: black;
         	font-family: "Syne Mono", monospace;
            }
            .b:hover{
         	background-color: #C7C7C7;
         	color: black;
            }
