<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/flash.css">
    {% block head %}
    {% endblock %}
</head>
  <body>
    <div class="flashes">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
        <p class="{{ category }}" onclick="this.style.display='none'">{{ message }}</p>
      {% endfor %}
      {% endif %}
    {% endwith %}
    </div>

    {% block content %}
    {% endblock %}
  </body>

  <script>
  {% block js %}
  {% endblock %}
  </script>
</html>
