{% extends "base.html" %}
{% block title %}Load{% endblock %}

{% block content %}
<style>
#bg{
    background-image: linear-gradient(rgba(24, 26, 73, 0.45), rgba(24, 26, 73, 0.45)), url("/static/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    	 z-index: -10000;
}
#hold{
    opacity: 0;
    height: 1;
    overflow: hidden;
}
.anim{
	animation: black 2s ease;
}
.anim2{
	animation: black 2s ease;
}
.anim3{
	animation: appear 2s ease 2s forwards;
	opacity: 0;
}
@keyframes black {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.temp{
    display: none;
}
.temp2{
    opacity: 1;
}
         a{
         color: white;
         font-size: 150%;
         text-decoration: none;
         }
a:hover{
	color: red;
}
</style>
	<div id="bg" class="anim"></div>
	<div id="hold" class="aaa anim2">
            <h1>
                Login
            </h1>
            <form action="/auth/login" method="POST">
                <h3>Username:</h3>
                <input class="a" type="text" name="username" required>
                <br>
                <br>
                <h3>Password:</h3>
                <input class="a" type=password name="password" required>
                <br>
                <br>
                <input class="b" type="submit" name="sub1" value="Login">
            </form>
            <br>
            <br>
            <!-- <h5> {{t}} </h5> -->
            <br>
            <br>
            <div>
                <p style="font-size: 110%; color: white;"> If you don't have an account, click the button below to register. </p>
                <a href="{{url_for('auth.register_get')}}"> <button class="b">Register</button> </a>
            </div>
        </div>
	<div id="container" class="anim3">
	<div class="box">
            <p> &lt; system &gt;</p>
            <p id="first"><br></p>
            <button class="button1" id = "second"> <a href = "{{url_for('game.load_save')}}"> load save </a> </button>
            <button class="button1" id = "third"> <a href = "{{url_for('lore_get')}}"> new save </a> </button>
            <button class="button1" id="play"> <img class="img" src="/static/play.png" alt="play"> </button>
         </div>
	</div>
        <br>
        <br>

    <script>
    const a = document.querySelector('#hold');
    const b = document.querySelector('#container');
    window.addEventListener('load', () => {
        if(document.querySelector('#hold') !== null){
            window.sessionStorage.setItem('Hold', 'displayed');
        }
        if(document.querySelector('#bg') !== null){
            window.sessionStorage.setItem('Bg', 'displayed');
        }
        if(document.querySelector('#container') !== null){
            window.sessionStorage.setItem('Container', 'displayed');
        }
    })
    if (window.sessionStorage.getItem('Bg')) {
        document.querySelector('#bg').classList.remove('anim');
    }
    if (window.sessionStorage.getItem('help')) {
        document.querySelector('#hold').classList.remove('anim2');
    }
    if (window.sessionStorage.getItem('help2')) {
        document.querySelector('#container').classList.remove('anim3');
    }
    a.addEventListener('animationend', () => {
        document.querySelector('#hold').classList.add('temp');
	if (window.sessionStorage.getItem('Hold')) {
            document.querySelector('#hold').classList.remove('anim2');
	    window.sessionStorage.setItem('help', 'done');
    	}
    })
    b.addEventListener('animationend', () => {
	document.querySelector('#container').classList.add('temp2');
	if (window.sessionStorage.getItem('Container')) {
            document.querySelector('#container').classList.remove('anim3');
	    window.sessionStorage.setItem('help2', 'done');
    	}
    })

      document.addEventListener("DOMContentLoaded", function () {
          document.getElementById("second").style.visibility = "hidden";
          document.getElementById("third").style.visibility = "hidden";

          function show(){
              document.getElementById("third").style.visibility = "visible";
           document.getElementById("second").style.visibility = "visible";
          }
          let letter = 0;
          const text = "Do you want to load an old save or start a new one?"
          function uh(){
              document.getElementById("first").innerHTML = "";
          }
          function typeText() {
              if (letter < text.length) {
                  document.getElementById("first").innerHTML += text.charAt(letter);
                  letter++;
                  let speed = 75;
                  setTimeout(typeText, speed);
              }
          }
          document.getElementById("play").onclick = function() {this.disabled = true; uh(); typeText(); setTimeout(show, 6000);};
      });
    </script>
{% endblock %}
