{% extends "base.html" %}
{% block title %}Start{% endblock %}

{% block content %}
<style>
body{
    background-image: linear-gradient(rgba(24, 26, 73, 0.45), rgba(24, 26, 73, 0.45)), url("/static/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
</style>
<h1 class="center"> <span>L</span><span>e</span><span>t</span><span>'</span><span style="padding-right: 40px;">s</span><span>T</span><span>i</span><span>t</span><span>a</span><span>n</span><span>i</span><span>c</span><span>!</span> </h1>
<h3 class="center2" id="blink">
  <a href="{{link}}">
    <button class="button">&lt; embark on your voyage &gt;</button>
  </a>
</h3>
<script>
  var blink = document.getElementById('blink');
  setInterval(function(){blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);}, 1000);
</script>
{% endblock %}
